<h3>Add a new Project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Name the project</label>
    <input class="form-control" id = "name" name="name" type = 'text' placeholder="Project Name" autofocus>
    <button type="submit" class="button btn">Add Project</button>
  </div>
</form>
