<h1>Update the <%= @project.name() %> project </h1>

<form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename your project:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete project</button>
</form>

<% if @project.volunteers().any?() %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers signed up for this project!</p>
  <% end %>

<a href="/"><button class="button btn">Home</a>
